@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body,
#demo {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

#demo {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#demo .wrapper {
  margin: auto;
}

.github-buttons {
  width: 100%;
  margin-top: 50px;
}

.code-pen {
  padding: 40px;
}

.example {
  padding: 50px;
  font-size: 40px;
}

.classA {
  color: red;
}

.classB {
  color: black;
}

.classC {
  color: purple;
}

.classD {
  color: blue;
  font-style: italic;
}

.classE {
  color: orange;
}
