@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body,
#demo {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

#demo {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#demo .wrapper {
  margin: auto;
}

#demo .wrapper span {
  font-size: 40px;
}

.github-buttons {
  width: 100%;
  margin-top: 50px;
}

.example {
  padding: 50px;
}
